* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #f5f5f5;
}
.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}
.NBapp {
  width: 550px;
  margin: auto;
}
.NBapp header h1 {
  width: 100%;
  text-align: center;
  color: #e9d7d7;
  font-size: 100px;
  font-weight: 100;
}
.NBapp header input {
  width: 100%;
  height: 70px;
  border: none;
  font-size: 26px;
  text-indent: 2em;
  outline: medium;
  font-weight: 100;
  box-shadow: 2px 2px 2px 2px #ddd;
}
.NBapp header input::-webkit-input-placeholder {
  color: #e7e7e7;
  font-style: italic;
  font-family: serif;
}
.NBapp .content {
  position: relative;
  width: 100%;
  background-color: #fff;
}
.NBapp .content .allToggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -40px;
  left: 10px;
}
.NBapp .content .noteBool-list {
  width: 550px;
  box-shadow: 2px 4px 4px 2px #ddd;
}
.NBapp .content .noteBool-list .list-item {
  border-bottom: 1px solid #ededed;
}
.NBapp .content .noteBool-list .list-item .view {
  height: 60px;
  display: flex;
  align-items: center;
}
.NBapp .content .noteBool-list .list-item .view .toggle {
  border: none;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.NBapp .content .noteBool-list .list-item .view label {
  width: 480px;
  font-size: 24px;
  font-weight: 300;
  padding-left: 20px;
}
.NBapp .content .noteBool-list .list-item .view .del {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  padding-right: 10px;
  display: none;
  color: #b3676c;
}
.NBapp .content .noteBool-list .list-item .view:hover .del {
  display: block;
  cursor: pointer;
}
.NBapp .footer {
  height: 50px;
  background-color: #fff;
  color: #c4c4c4;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.NBapp .footer .filters li {
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin: 0 10px;
}
.NBapp .footer .filters li a {
  color: #c4c4c4;
  font-weight: 100;
}
.NBapp .footer .filters .selected {
  border-radius: 4px;
  border: 1px solid #eed4d5;
}
